.DS_Store
*.DS_store
*.dcf
*.Rhistory
active_graph.txt
auth/
data/topo_warehouse_*
data/ineq_warehouse_*
data/eigt_warehouse_*
data/eigt_wide*
data/inhe_warehouse*
data/eigt_wide_viz.csv
data/methodological_table.xlsx
data/topo_warehouse_meta_v1_2.csv
data/topo_ready*
skills/
