.DS_Store
*.DS_store
*.dcf
*.Rhistory
auth/
data/topo_warehouse_meta_v1_2.csv
data/ineq_warehouse_meta_v1_2.csv
data/eigt_warehouse_meta_v1_2.csv
data/eigt_wide_viz.csv
data/topo_warehouse_meta_v1_2.csv
