.DS_Store
*.DS_store
*.dcf
*.Rhistory
active_graph.txt
auth/
data/topo_warehouse_*
data/ineq_warehouse_*
data/taxw_warehouse_*
data/taxw_wide*
data/taxw_ft_wide.qs
data/taxw_wm_ready.qs
data/taxw_wm2_ready.qs
data/taxw_kf2_ready.qs
data/taxw_kf3_ready.qs
data/taxw_us_state_long.qs
data/taxw_us_state_ft_wide.qs
data/inhe_warehouse*
data/warehouse_meta_v2.csv
data/taxw_wide_viz.csv
data/methodological_table.xlsx
data/topo_warehouse_meta_v1_2.csv
data/topo_base.qs
data/topo_conversion_bundle.qs
data/topo_metadata_bundle.qs
data/currency_conversion_bundle.qs
data/topo_ready*
skills/
